<tr>
  <td>{{ item.typePresta }}</td>
  <td>{{ item.client }}</td>
  <td>{{ item.nbJours }}</td>
  <td>{{ item.tjmHt }}</td>
  <td>{{ item | total | currency:'EUR' }}</td>
  <td>{{ item | total: item.tauxTva | currency:'EUR' }}</td>
  <td [ngClass]="{'state-annule': item.state === 'Annulé', 'state-option': item.state === 'Option', 'state-confirme': item.state === 'Confirmé'}">
    <select (change)="changeState($event)">
      <option [value]="item.state">{{ item.state }}</option>
      <ng-container *ngFor="let state of states">
        <option *ngIf="item.state !== state"  [value]="state">{{ state }}</option>
      </ng-container>
    </select>
  </td>
</tr>
